* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
}

main {
  min-height: 100%;
  background-color: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 100%;
  background-color: #f4fafa;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.logo {
  margin: 50px 0 40px 0;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  color: #5e7a7d;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 50px;
  max-width: 390px;
}

.calculator__bill__text {
  margin-bottom: 5px;
}

.calculator__bill__input {
  text-align: right;
  background-image: url("../../public/images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00494d;
}

.calculator__bill__input::-webkit-input-placeholder {
  color: #9fb5b7;
}

.calculator__bill__input:-ms-input-placeholder {
  color: #9fb5b7;
}

.calculator__bill__input::-ms-input-placeholder {
  color: #9fb5b7;
}

.calculator__bill__input::placeholder {
  color: #9fb5b7;
}

.calculator__bill__input:focus-visible {
  outline: #26c0ab auto 1px;
}

.calculator__tip {
  margin-top: 30px;
}

.calculator__tip__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
  min-height: 110px;
}

.calculator__tip__inputs__input {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  background-color: #00494d;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 15px;
  -webkit-transition: .1s;
  transition: .1s;
}

.calculator__tip__inputs__input.active {
  background-color: #26c0ab;
  color: #00494d;
}

.calculator__tip__inputs__input:hover {
  background-color: #8ce3d9;
  color: #00494d;
}

.calculator__tip__inputs__input--custom {
  width: 47%;
  background-color: #f4fafa;
  color: #00494d;
  padding: 5px 0;
  font-size: 22px;
}

.calculator__tip__inputs__input--custom:hover {
  background-color: #f4fafa;
  color: #00494d;
}

.calculator__tip__inputs__input::-webkit-input-placeholder {
  color: #067379;
}

.calculator__tip__inputs__input:-ms-input-placeholder {
  color: #067379;
}

.calculator__tip__inputs__input::-ms-input-placeholder {
  color: #067379;
}

.calculator__tip__inputs__input::placeholder {
  color: #067379;
}

.calculator__tip__inputs__input:focus-visible {
  outline: #26c0ab auto 1px;
}

.calculator__tip__error {
  color: #d07243;
  text-align: right;
  margin-top: 7px;
  font-size: 12px;
  display: none;
}

.calculator__tip__error--active {
  display: block;
}

.calculator__people {
  margin-top: 30px;
}

.calculator__people__text {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__people__text p + p {
  color: #d07243;
  display: none;
}

.calculator__people__text p + p.error-info {
  display: block;
}

.calculator__people__input {
  text-align: right;
  background-image: url("../../public/images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00494d;
}

.calculator__people__input::-webkit-input-placeholder {
  color: #9fb5b7;
}

.calculator__people__input:-ms-input-placeholder {
  color: #9fb5b7;
}

.calculator__people__input::-ms-input-placeholder {
  color: #9fb5b7;
}

.calculator__people__input::placeholder {
  color: #9fb5b7;
}

.calculator__people__input:focus-visible {
  outline: #26c0ab auto 1px;
}

.calculator__people__input.error-outline {
  outline: #d07243 auto 1px;
}

.calculator__result {
  margin-top: 30px;
  background-color: #00494d;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator__result__amount, .calculator__result__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__result__amount {
  margin-top: 10px;
}

.calculator__result__amount p {
  color: white;
  margin-bottom: -3px;
  font-size: 14px;
}

.calculator__result__amount span {
  font-size: 12px;
  color: #7f9c9f;
}

.calculator__result__amount__number {
  font-size: 24px;
}

.calculator__result__amount__number p, .calculator__result__amount__number span {
  color: #26c0ab;
  font-size: 28px;
}

.calculator__result__total {
  margin-top: 20px;
}

.calculator__result__total p {
  color: white;
  margin-bottom: -3px;
  font-size: 14px;
}

.calculator__result__total span {
  font-size: 12px;
  color: #7f9c9f;
}

.calculator__result__total__number {
  font-size: 24px;
}

.calculator__result__total__number p, .calculator__result__total__number span {
  color: #26c0ab;
  font-size: 28px;
}

.calculator__result__btn {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  background-color: #0e6d71;
  color: #075c5f;
  width: 100%;
  padding: 7px 0;
  text-transform: uppercase;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.calculator__result__btn.reset {
  background-color: #26c0ab;
  color: #00494d;
  cursor: pointer;
}

.calculator__result__btn.reset:hover {
  background-color: #8ce3d9;
  color: #00494d;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
  body .logo {
    margin: -60px 0 70px 0;
  }
  body .calculator {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
    width: 800px;
  }
  body .calculator .flex-1 {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  body .calculator .flex-2 {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  body .calculator__tip__inputs {
    font-size: 20px;
  }
  body .calculator__tip__inputs__input {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin-top: 10px;
    line-height: 180%;
  }
  body .calculator__tip__inputs__input--custom {
    font-size: 20px;
  }
  body .calculator__result {
    height: 100%;
    margin-top: 0;
    padding: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .calculator__result__amount__number p, body .calculator__result__amount__number span {
    font-size: 38px;
  }
  body .calculator__result__total {
    margin-top: 35px;
  }
  body .calculator__result__total__number p, body .calculator__result__total__number span {
    font-size: 38px;
  }
}
/*# sourceMappingURL=style.css.map */